<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="Location based, crowd reporting system">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/1502.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
            <div id="menu-bar">
                <div id="logo">
                    <i class="icon-users" style="font-size: 36pt;"></i> Gaggle
                </div>
                <div id="link-list">
                    <ul>
                       <li>
                           <a href="#">ABOUT</a>
                       </li>
                        <li>|</li>
                        <li>
                            <a href="#">AROUND</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="#">ADD</a>
                        </li>
                    </ul>
                </div>
                <div id="rt">
                    <div id="user">
                        <a href="#">Logout <i class="icon-user" style="font-size: 24pt;"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <content>
            <div id="content">
                <div id="center-xy">
                    <div id="location-creation-field">
                        <div class="title">Location Creation<br><hr></div>
                        <form>
                            Location Name:<br><input type="text" name="name" /> &nbsp; <input type="button" value="Search Map"> <br>
                            <hr style="width: 200px; float: left;"><br>
                            Map:
                            <div id="location-creation-map">

                            </div>
                            <hr style="width: 200px; float: left;"><br>
                            Address<br><input type="text" name="address"><br><br>
                            City<br><input type="text" name="city"><br><br>
                            State<br><input type="text" name="state"><br><br>
                            Zip<br><input type="text" name="zip"><br><br>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </content>
        <footer>
            <!--<div id="ftr">
                Created be Richard Kotermanski, Nate Dorman, Len Aronson, and Danny Arnold
            </div>-->
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>


    </body>
</html>

